# Ignore list for KiCAD Projects# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache# Netlist files (exported from Eeschema)
*.net# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
# Eclipse
*.metadata/
fw/BleTarget/Debug/
fw/.metadata
sw/build-Bullseye*/
sw/build-Bullseye-Desktop-Debug/
.settings/
hw/ElectronicBLETarget-backups


# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib


# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl


# QtCreator
*.autosave

# QtCreator CMake
CMakeLists.txt.user*