[Desktop Entry]
Name="Bullseye Update"
Comment=My comment
Icon=~/BLEtarget/sw/Bullseye/utils/update.svg
Exec=~/BLEtarget/sw/Bullseye/updateBullseye.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;