[Desktop Entry]
Name="Bullseye Update"
Icon=/home/target/BLEtarget/sw/Bullseye/utils/bullseye.svg
Exec=/home/target/Home/BLEtarget/sw/Bullseye/build/Bullseye
Type=Application
Terminal=true
