[Desktop Entry]
Name="Bullseye"
Icon=/home/target/BLEtarget/sw/Bullseye/utils/bullseye.svg
Exec=/home/target/BLEtarget/sw/Bullseye/build/Bullseye
Type=Application
Terminal=false
