[Desktop Entry]
Name=Bullseye
Icon=/user/target/Home/BLEtarget/sw/Bullseye/utils/bullseye.svg
Exec=/user/target/Home/BLEtarget/sw/Bullseye/build/Bullseye
Type=Application
Terminal=false