[Desktop Entry]
Name=Bullseye update
Icon=/home/target/BLEtarget/sw/Bullseye/utils/update.svg
Exec=sh -c "lxterminal -e /home/target/BLEtarget/sw/Bullseye/utils/updateBullseye.sh"
Type=Application
Terminal=false